<div id="<%= dom_id school_answer %>">
  <p>
    <strong>Question:</strong>
    <%= school_answer.question_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= school_answer.user_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= school_answer.answer %>
  </p>

</div>
