<% content_for :title, "Editing school answer" %>

<h1>Editing school answer</h1>

<%= render "form", school_answer: @school_answer %>

<br>

<div>
  <%= link_to "Show this school answer", @school_answer %> |
  <%= link_to "Back to school answers", school_answers_path %>
</div>
