<% content_for :title, "New school answer" %>

<h1>New school answer</h1>

<%= render "form", school_answer: @school_answer %>

<br>

<div>
  <%= link_to "Back to school answers", school_answers_path %>
</div>
