<div id="<%= dom_id case %>">
  <p>
    <strong>User:</strong>
    <%= case.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= case.description %>
  </p>

  <p>
    <strong>Institution answer:</strong>
    <%= case.institution_answer %>
  </p>

</div>
