<div id="<%= dom_id ticket %>">
  <p>
    <strong>Email:</strong>
    <%= ticket.email %>
  </p>

  <p>
    <strong>Ticket description:</strong>
    <%= ticket.ticket_description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

</div>
